{% load weekday i18n event_image %}

<div>
  <h1>{% trans 'Upcoming Events' %}</h1>

  <br>
  {% trans 'upcoming events descr' %}
  <br>
  <br>
  <br>
</div>

  {% for date, event in upcoming_events %}
    <!-- {% cycle 'even' 'odd' as parity %} -->

    {% if parity == 'even' %}<div class="row-fluid row-no-padding">{% endif %}

    <div class="col-xs-12 col-sm-12 col-lg-6">
      <div class="club">

        <img class="img-responsive club-soft-dark" src='{{ event.id|event_image }}' />

        <div class="club-header club-header-soft-dark">
          <p>{{ event.title }}
          </p>
        </div>

        <div class="club-content {% if parity == 'even' %}club-soft-dark pull-right{% endif %}">
          <div class="club-text">

            {% for c in event.cancellations.all %}
            {% if c.date == date.date %}
            <b>{% trans 'EVENT CANCELLED' %}</b> <br />
            {% endif %}
            {% endfor %}

            {{ event.description }}
          </div>
            <!--
            <div class="blog-continue-link">
              <a href="">&gt;</a>
            </div>
            -->
          <div class="club-date">
            {% trans 'Event starts at: '%} {{ date|date:"d M Y H:i" }}

          <div class="club-soc pull-right">
            <script type="text/javascript">(function() {
               if (window.pluso)if (typeof window.pluso.start == "function") return;
               if (window.ifpluso==undefined) { window.ifpluso = 1;
                                               var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                                               s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                                               s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                                               var h=d[g]('body')[0];
                                               h.appendChild(s);
                                               }})();</script>
            <div class="pluso" data-background="transparent" data-options="middle,square,line,horizontal,nocounter,theme=02" data-services="vkontakte,facebook,twitter" data-url="http://dkrosa.org/ru/show-event/{{ date|date:"d.m.Y H:i" }}/{{ event.id }}" data-title="{{ event.title }}" data-description="{{ event.description }}"></div>
          </div>

          </div>
        </div>



      </div> <!-- .club -->
    </div>

    {% if parity == 'odd' %}</div><div class="clearfix"></div>{% endif %}


  <!--
  <li class="month-event">
    <div class="date-widget">
      <div class="widget-month">
        {{ d|date:"F" }}
      </div>
      <div class="widget-day">
        {{ d.day }}
      </div>
      <div class="widget-year">
        {% weekday d.year d.month d.day %}
      </div>
    </div>
    <div class="month-event-title">
      <a href="{{ event.get_absolute_url }}" >
        {{ event.title }}
        {% for c in event.cancellations.all %}
        {% if c.date == d.date %}
        (CANCELLED)
        {% endif %}
        {% endfor %}
      </a>
    </div>
  </li>
  -->


  {% empty %}
  {% trans 'Oops.. No events!' %}
  {% endfor %}
