{% load i18n %}
<span class="disable-menu-scroll"></span>
<div id="calendar-page">
{% include 'calendar/send_email.html' %}
{% include 'calendar/event_edit.html' %}


<div class="row">

  <div class="col-sm-6 event-sample-table">
    <table>
    <tr>
      <td>
        <div class="lib-event">Событие в библиотеке</div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="hall-event">Событие в зале</div>
      </td>
    </tr>
    {% if request.user.is_authenticated %}
    <tr>
      <td>
        <div class="internal-event">Внутреннее событие</div>
      </td>
    </tr>
    {% endif %}
    </table>
  </div>

  <div class="col-sm-6">
    <form id="subscribe-form" >

      <div class="pull-right">
        <div class="subscribe-button-wrap">
          <a id="subscribe-button">{% trans 'subscribe' %}</a>
        </div>

      </div>
      <div class="form-group pull-right">
          <input name="email_field" type='text' placeholder="{% trans 'e-mail' %}" />
          <span class="help-block"></span>
      </div>


    </form>
  </div>
</div>

<br />


<div id='calendar'></div>
</div>
