{% load i18n %}

{% include 'calendar/send_email.html' %}
{% include 'calendar/event_edit.html' %}


<div class="row">
  <div class="col-sm-6 ">
    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end place-sample" style="background: white; color: black">
      <div class="fc-content"><span class="fc-time"></span> <span class="fc-title">Событие состоится в библиотеке</span></div>
    </a>
  </div>
</div>



<div class="row">
  <div class="col-sm-6">
    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end place-sample" >
      <div class="fc-content"><span class="fc-time"></span> <span class="fc-title">Событие состоится в зале</span></div>
    </a>
  </div>
  <div class="col-sm-6">
        <form id="subscribe-form" class="form-horizontal">

          <div class="form-group">
            <label for="title" class="col-sm-3 control-label">{% trans 'E-mail' %}</label>
            <div class="col-sm-6">
              <input name="email_field" type='text' class="form-control" />
              <span class="help-block"></span>
            </div>
            <div class="col-sm-3">
              <button id="subscribe-button" type="button" class="btn btn-primary pull-left">{% trans 'subscribe' %}</button>
            </div>
          </div>
        </form>

  </div>
</div>

<br />


<div id='calendar'></div>
