
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000000;
  overflow-y: scroll;
}

a {
  color: #24a5a5;
}

a:hover {
  color: #168181;
}


.row-no-padding > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
/**/

#content {
  position: relative;
}

.content-column {
  width: 76.4%;
}

.menu-wrap {
    position: relative;
}

.menu-column {
  width: 23.6%
}

.container-fluid {
  max-width: 1460px;
  padding-left: 0;
  padding-right: 0;
}


.timepicker {
    width: 30% !override;
}

.place-sample {
    width: 288px;
}

#event-edit-modal .modal-dialog,
#send-email-modal .modal-dialog{
    width: 75%;
}

#logo-image {
  position: relative;
  z-index: 1000;
}


#rosa-content {
  height: 1000px;
  margin-left:320px;
  width: 1120px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

.black-col {

}

.black-col img {

}

.lang-chooser {
  padding-left: 53px;
  padding-top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
}

.lang-chooser a:hover,
.lang-chooser a:visited,
.lang-chooser a:link,
.lang-chooser a:active {
  text-decoration: none;
}

.lang-chooser a {
  color: black;
}

.lang-chooser div {
  width: 24px;
  height: 18px;
  float: left;
}

.lang-chooser div a {
  position: relative;
  top: -8px;
  left: 2px;
}

.lang-chooser div.active {
  background: #d80300;
}

.lang-chooser div.active a {
  color: white;
}


.menu-items {
  margin-top: 28px;
}

.menu-items ul {
  list-style-type: none;
  text-align: right;
  font-size: 18px;
}

.menu-items ul li {
  padding: 4px;
}

.menu-items .link-box {
    margin-right: 35px;
    font-weight: 500;
}

.link-box:hover {
  background: #ab0101; /* #162b29; /*#f10000;*/
}

.link-box-light:hover {
  background: #8da6a6;
}

.link-box a:hover,
.link-box a:visited,
.link-box a:link,
.link-box a:active {
  text-decoration: none;
}



.link-box {
  background: #be0000;
  display: inline;
  padding: 0px 1px 0px 1px;
}

.link-box-active, .link-box-active:hover {
  background: #162b29;
}

.link-box-light {
  background: #a1b4b4;
}

.link-box a {
  color: white;
  font-size: 24px;
}


.soc-sprite {
    background-image: url(/static/images/dk-soc.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb {
    width: 90px;
    height: 90px;
    background-position: -5px -5px;
    text-indent:-9999px;
}

.sprite-fb:hover {
    width: 90px;
    height: 90px;
    background-position: -105px -5px;
}

.sprite-vk {
    width: 90px;
    height: 90px;
    background-position: -5px -105px;
    text-indent:-9999px;
}

.sprite-vk:hover {
    width: 90px;
    height: 90px;
    background-position: -105px -105px;
}


.soc-nets {
  margin-top: 87px;
  margin-left: 86px;
}


.soc-nets div {
  float: left;
  margin-right: 13px;
}

#fb-link {
    background-image:url(/static/images/fb.png);
    display:block;
    height:90px;
    text-indent:-9999px;
    width:90px;
}

#vk-link {
    background-image:url(/static/images/vk.png);
    display:block;
    height:90px;
    text-indent:-9999px;
    width:90px;
}


.club {
  position: relative;
  max-width: 558px;
  z-index: 100;
}

.club-separator {
  padding-top: 36px;
}

.club-lib-separator {
  padding-top: 36px;
}

.club-header {
  position: relative;
  top: -60px;
  font-weight: 400px;
  font-size: 30px;
  height: 0px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5px;
  text-shadow:
    #4a4a4a 0px 0px 4px,
    #4a4a4a 0px 0px 6px,
    #4a4a4a 2px 2px 6px;
}

.club-header,
.club-header a {
  color: #ffffff;
}

.club-header a:hover {

}

.club-content {
  padding-top: 29px;
  padding-left: 34px;
  line-height: 1.66em;
  font-weight: 400;
  font-size: 18px;
  font-family: Open Sans;
  width: 100%;
  margin-left: 1px;
}


.club-dark > .club-text {
  text-shadow:
    #000000 0px 0px 4px;
}

.club-header-light p {
  padding-left: 6px;
}

.club-header-soft-dark p,
.club-soft-dark .club-text,
.club-header-dark p,
.club-dark .club-text {
  padding-left: 3px;
}

.club-text {
  padding-right: 20px;
  min-height: 145px;
  position: relative;
  z-index: 2000;
}

.club-date {
  text-transform: lowercase;
  color: #a0a0a0;
  font-size: 14px;
  padding-bottom: 30px;
}

.club .blog-continue-link:hover {
  cursor: pointer;
}

.club .blog-continue-link {
  position: relative;
  z-index: 2005;
  float: right;
  font-size: 18px;
  line-height: 20px;
  margin-top: -20px;
  height: 20px;
  width: 29px;
  background: #a3b2b5;
  text-align: center;
}

.club .blog-continue-link a:hover,
.club .blog-continue-link a:visited,
.club .blog-continue-link a:link,
.club .blog-continue-link a:active {
  color: white;
  text-decoration: none;
}

.club img {
  min-height: 308px;
}

.clib-links ul li {
  list-style-type: none;
}

.club-dark .club-text a,
.club-dark {
  color: #bbbbbb;
  background: #172b2a;
}

.club-soft-dark {
  background: #f6f6f6;
}

.club-links {
  float: right;
  padding-top: 20px;
}

.club-links> .link-box {
  height: 20px;
}
.club-links> .link-box a {
  position: relative;
  top: -5px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
}

.club-main-scool {
  background-image: url('/static/images/main-scool.png');
  background-repeat: no-repeat;
}


.scool-img {
  margin-left: -1px;
}


.lib-img {
  margin-left: 4px;
}


.lib-header {
  margin-top: -28px;
}

.body-header {
  margin-top: -76px;
}

#calendar-page {
  margin-top: 30px;
}

#calendar {
  margin: 0 auto;
}

.event-sample-table {
  display: table;
}


div.lib-event,
div.hall-event {
  font-size: 12px;
  font-family: Open Sans;
  color: #162b29;
  margin: 0px 0px 2px 20px;
  padding: 0px 2px 0px 2px;
  border-radius: 3px;
  border: 1px solid;
}


div.lib-event {
  background: #cfdcdc;
  border-color: #cfdcdc;
}

div.hall-event {
  background: #e7e7e7;
  border-color: #e7e7e7;
}

.post-detail h1,
#about h1,
#details h1 {
  font-family: Roboto;
  font-weight: 500;
}

.post-detail,
#about,
#details {
  padding-top: 103px;
  padding-left: 35px;
}

.post-detail .blog-content,
#about .content,
#details .content {
  margin-top: 63px;
  font-weight: 300;
}


#about .text {
  background-image: url('/static/images/odk_bg.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: top center;
}


.post-detail .blog-content,
#about .text,
#details .text {
  font-family: Open Sans;
  line-height: 1.7em;
  padding-bottom: 20px;
}

.post-detail .blog-content p,
#about .text p,
#details .text p {
  padding-bottom: 15px;
}

#about .filer_image,
#details .filer_image {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 1px;
}

#calendar {
  margin-top: 50px;
}



#calendar h2 {
  font-size: 36px;
  font-weight: 500;
  padding-left: 15px;
  /* width: 300px; */
  text-align: left;
  padding-right: 15px;
}

#calendar .fc-icon {
  font-family: Open sans;
  font-size: 20px;
  color: #a1b4b4;
  display: inline;
  line-height: 40px;
}

#calendar .fc-icon:hover {
  color: #8da6a6;
}

#calendar .fc-icon-left-single-arrow:after {
  content: "<";
}

#calendar .fc-icon-right-single-arrow:after {
  content: ">";

}

#calendar .fc-prev-button:hover,
#calendar .fc-next-button:hover {
  text-decoration: none;
}

#calendar .fc-time {
  font-weight: normal;
}


#calendar .fc-event {
  background: none;
  color: #162b29;
  font-size: 12px;
  font-family: Open Sans;
  line-height: 1.5em;
  /* border: 0px; */
  /* border-bottom: 1px solid #a1b4b4; */
  /* border-radius: 0px; */
  margin: 0px;
  padding: 0px;
}

#calendar table tr td {
  border-color: #a1b4b4 !important;
}

#calendar table th {
  border-style: none;
  color: #a1b4b4;
  text-transform: uppercase;
/*  border-bottom: 1px solid #a1b4b4; */
}

#calendar div.fc-content-skeleton table thead tr {
  border-top: 1px solid #a1b4b4;
}

#calendar table  tr td {
  border-top-style: none;
  border-bottom-style: none;
}

#calendar > .fc-view-container > div.fc-view > table > thead > tr > td {
  border-style: none;
}

#calendar > .fc-view-container > div.fc-view > table > tbody > tr > td {
  border-style: none;
}

#calendar > .fc-view-container > div.fc-view > table > tbody > tr {
  border-style: none;
}

#calendar table .fc-head-container  {

}

#calendar .fc-today {
  background-color: #f1f4f4;
}


#calendar button {
  background: none;
  border: none;
  outline:none;
  /* color: #cfdcdc; */
  box-shadow: none;
  font-size: 22px;
  font-family: Open Sans;
}


#calendar button:hover {
  text-decoration: underline;
}

#calendar button.fc-state-active:hover,
#calendar button.fc-state-active {
  color: #a1b4b4;
  text-decoration: none;
  cursor: auto;
}



#calendar .fc-month-button,
#calendar .fc-agendaWeek-button,
#calendar .fc-agendaDay-button,
#calendar button.fc-today-button,
#calendar button.fc-buttonAdd-button {
  color: black;
  font-weight: 300;
}

#calendar button.fc-today-button:hover,
#calendar button.fc-buttonAdd-button:hover {
  text-decoration: underline;
}


#calendar button.fc-state-disabled {
  cursor: default;
  color: #a1b4b4;
}

#calendar button.fc-state-disabled:hover {
  text-decoration: none;
}

#calendar .fc-toolbar .fc-right {
  margin-right: -13px;
}

#subscribe-form {
  padding-top: 1px;
}

#subscribe-form input {
  height: 20px;
  font-size: 14px;
  padding: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #112c25;
  color: #112c25;
  width: 192px;
  margin-right: 2px;
}

#subscribe-form .help-block {
  font-size: 12px;
  position: absolute;
}


#subscribe-form .subscribe-button-wrap {
  height: 20px;
  background-color: #be0000;
  margin-top: 4px;
}

#subscribe-form .subscribe-button-wrap:hover {
  background: #ab0101;
}


#subscribe-form .subscribe-button-wrap a {
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  font-weight: 300;
  top: -4px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}


