{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    {% render_block "css" %}
    {% block extra_head%}{% endblock %}

    <script type='text/javascript' id='lt_ws' src='http://localhost:53370/socket.io/lighttable/ws.js'></script>

  </head>
  <body>

      {% cms_toolbar %}

    <div class="container-fluid">
      <div class="row-fluid row-no-padding">
        <div class="col-xs-12 col-sm-3" style="width: 23.6%">
          <img id="logo-image" class="img-responsive" src="/static/images/logo.png" />

          <div class="lang-chooser">
            <div class="{% if LANGUAGE_CODE == 'ru' %}active{%endif%}">
              <a href="{% page_language_url "ru" %}">ru</a>
            </div>
            <div class="{% if LANGUAGE_CODE == 'en' %}active{%endif%}">
              <a href="{% page_language_url "en" %}">en</a>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="menu-items">
            <ul>
              <li>
                <div class="link-box">
                  <a href="/{{ request.LANGUAGE_CODE }}/calndar">{% trans 'calendar' %}</a>
                </div>
              </li>
              <li>
                <div class="link-box">
                  <a href="/{{ request.LANGUAGE_CODE }}/blog">{% trans 'blog' %}</a>
                </div>
              </li>
              <li>
                <div class="link-box">
                  <a href="/{{ request.LANGUAGE_CODE }}/about">{% trans 'about' %}</a>
                </div>
              </li>
            </ul>
          </div>

          <div class="clearfix "></div>
          <div class="soc-nets">
            <div>
              <a target="_blank" href="https://www.facebook.com/groups/800787473370867/" title="Facebook" id="fb-link">Facebook</a>
            </div>
            <div>
              <a target="_blank" href="https://vk.com/dkrose" title="Vk" id="vk-link">Vk</a>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-9" style="width: 76.4%">
          <div class="row-fluid row-no-padding">


            <div class="col-xs-12 col-sm-12 col-lg-6">

              <div class="club">
                <img class="img-responsive scool-img" src='/static/images/main-scool.png' />
                <div class="club-header">
                  {% placeholder "club_1_title" %}
                </div>
                <div class="club-content club-dark pull-right">
                  <div class="club-text">
                    {% placeholder "club_1_text" %}
                  </div>

                  <div class="club-links">
                    <div class="link-box pull-right">
                      {% placeholder "club_1_link" %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="club">
                <div class="club-separator club-dark"></div>
                <img class="img-responsive club-dark" src='/static/images/main-workshop.png' />
                <div class="club-header">
                  {% placeholder "club_3_title" %}
                </div>

                <div class="club-content club-dark pull-right">
                  <div class="club-text">
                    {% placeholder "club_3_text" %}
                  </div>

                  <div class="club-links">
                    <div class="link-box pull-right">
                      {% placeholder "club_3_link" %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="club">
                <div class="club-separator club-dark"></div>
                <img class="img-responsive club-dark" src='/static/images/main-workshop.png' />
                <div class="club-header">
                  {% placeholder "club_5_title" %}
                </div>

                <div class="club-content club-dark pull-right">
                  <div class="club-text">
                    {% placeholder "club_5_text" %}
                  </div>

                  <div class="club-links">
                    <div class="link-box pull-right">
                      {% placeholder "club_5_link" %}
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div class="col-xs-12 col-sm-12 col-lg-6">

              <div class="club">
                <img class="img-responsive lib-img" src='/static/images/main-lib.png' />
                <div class="club-header lib-header">
                  {% placeholder "club_2_title" %}
                </div>
                <div class="club-content">
                  <div class="club-text">
                    {% placeholder "club_2_text" %}
                  </div>

                  <div class="club-links">
                    <div class="link-box link-box-light pull-right">
                      {% placeholder "club_2_link" %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="club">
                <div class="club-lib-separator"></div>
                  <img class="img-responsive" src='/static/images/main-english.png' />
                <div class="club-header">
                  {% placeholder "club_4_title" %}
                </div>
                <div class="club-content lib-text">
                  <div class="club-text">
                    {% placeholder "club_4_text" %}
                  </div>

                  <div class="club-links">
                    <div class="link-box link-box-light pull-right">
                      {% placeholder "club_4_link" %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="club">
                <div class="club-separator"></div>
                  <img class="img-responsive" src='/static/images/main-english.png' />
                <div class="club-header">
                  {% placeholder "club_6_title" %}
                </div>
                <div class="club-content lib-text">
                  <div class="club-text">
                    {% placeholder "club_6_text" %}
                  </div>

                  <div class="club-links">
                    <div class="link-box link-box-light pull-right">
                      {% placeholder "club_6_link" %}
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.js"></script>

    <script>
     var dateLang = '{{ request.LANGUAGE_CODE }}';
     var textNewEvent = '{% trans 'New event' %}';
    </script>
    {% render_block "js" %}
    <script src='{% static "style-hacks.js" %}'></script>
    {% include 'calendar/head.html' %}
    <div style="display: none" id="user_login">{{ request.user }}</div>
  </body>
</html>
