{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    {% render_block "css" %}
    {% block extra_head%}{% endblock %}

    <script type='text/javascript' id='lt_ws' src='http://localhost:5678/socket.io/lighttable/ws.js'></script>
  </head>
  <body>

    {% cms_toolbar %}

    <div class="container-fluid">
      <div class="row-fluid row-no-padding">
        <div class="col-xs-12 col-sm-3 menu-column">
          <div class="menu-wrap">
            <a href="/{{ LANGUAGE_CODE }}/"><img id="logo-image" class="img-responsive" src="/static/images/logo.png" /></a>

            <div class="lang-chooser">
              <div class="{% if LANGUAGE_CODE == 'ru' %}active{%endif%}">
                <a href="{% page_language_url "ru" %}">ru</a>
              </div>
              <div class="{% if LANGUAGE_CODE == 'en' %}active{%endif%}">
                <a href="{% page_language_url "en" %}">en</a>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="menu-items">
              <ul>
                {% page_attribute "slug" request.current_page as current_slug %}
                <li>
                  <div class="link-box {% if current_slug == 'calendar' %}link-box-active{% endif %}">
                    <a href="/{{ request.LANGUAGE_CODE }}/calendar/">{% trans 'calendar' %}</a>
                  </div>
                </li>
                <li>
                  <div class="link-box {% if current_slug == 'blog' %}link-box-active{% endif %}">
                    <a href="/{{ request.LANGUAGE_CODE }}/blog">{% trans 'blog' %}</a>
                  </div>
                </li>
                <li>
                  <div class="link-box {% if current_slug == 'about' %}link-box-active{% endif %}">
                    <a href="/{{ request.LANGUAGE_CODE }}/about">{% trans 'about' %}</a>
                  </div>
                </li>
              </ul>
            </div>

            <div class="clearfix "></div>
            <div class="soc-nets">
              <div>
                <a class="soc-sprite sprite-fb" target="_blank" href="https://www.facebook.com/groups/800787473370867/" title="Facebook">Facebook</a>
              </div>
              <div>
                <a class="soc-sprite sprite-vk" target="_blank" href="https://vk.com/dkrose" title="Vk" >Vk</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-9 content-column">
          <div id="content">
            {% block content %}{% endblock %}
          </div>
        </div> <!-- content-column -->
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.js"></script>

    <script>
     var dateLang = '{{ request.LANGUAGE_CODE }}';
     var textNewEvent = '{% trans 'New event' %}';
    </script>
    {% render_block "js" %}
    <script src='{% static "style-hacks.js" %}'></script>
    {% include 'calendar/head.html' %}
    <div style="display: none" id="user_login">{{ request.user }}</div>
  </body>
</html>
