{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block og_title %}{% page_attribute "page_title" %}{% endblock %}

{% block content %}

<div class="row-fluid row-no-padding">
  <div class="col-xs-12 col-sm-12 col-lg-6">

    <div class="club club-line-1">
      <img class="img-responsive scool-img" src='/static/images/main-scool.png' />
      <div class="club-header club-header-dark">
        <span>{% placeholder "club_1_title" %}</span>
      </div>
      <div class="club-content club-dark pull-right">
        <div class="club-text">
          {% placeholder "club_1_text" %}
        </div>

        <div class="club-links">
          <div class="link-box pull-right">
            {% placeholder "club_1_link" %}
          </div>
        </div>
      </div>
    </div> <!-- .club -->

  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-1">
      <img class="img-responsive lib-img" src='/static/images/main-lib.png' />
      <div class="club-header club-header-light lib-header">
        <span>{% placeholder "club_2_title" %}</span>
      </div>
      <div class="club-content">
        <div class="club-text">
          {% placeholder "club_2_text" %}
        </div>

        <div class="club-links">
          <div class="link-box link-box-light pull-right">
            {% placeholder "club_2_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row-fluid row-no-padding">
  <div class="col-xs-12 col-sm-12 col-lg-6">

    <div class="club club-line-2">
      <div class="club-separator club-dark"></div>
      <img class="img-responsive club-dark" src='/static/images/main-workshop.png' />
      <div class="club-header club-header-dark">
        <span>{% placeholder "club_3_title" %}</span>
      </div>

      <div class="club-content club-dark pull-right">
        <div class="club-text">
          {% placeholder "club_3_text" %}
        </div>

        <div class="club-links">
          <div class="link-box pull-right">
            {% placeholder "club_3_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-2">
      <div class="club-lib-separator"></div>
      <img class="img-responsive" src='/static/images/main-english.png' />
      <div class="club-header club-header-light">
        <span>{% placeholder "club_4_title" %}</span>
      </div>
      <div class="club-content lib-text">
        <div class="club-text">
          {% placeholder "club_4_text" %}
        </div>

        <div class="club-links">
          <div class="link-box link-box-light pull-right">
            {% placeholder "club_4_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row-fluid row-no-padding">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-3">
      <div class="club-separator club-dark"></div>
      <img class="img-responsive club-dark" src='/static/images/main-scool.png' />
      <div class="club-header club-header-dark">
        <span>{% placeholder "club_5_title" %}</span>
      </div>

      <div class="club-content club-dark pull-right">
        <div class="club-text">
          {% placeholder "club_5_text" %}
        </div>

        <div class="club-links">
          <div class="link-box pull-right">
            {% placeholder "club_5_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-3">
      <div class="club-separator"></div>
      <img class="img-responsive" src='/static/images/main-choir.png' />
      <div class="club-header club-header-light">
        <span>{% placeholder "club_6_title" %}</span>
      </div>
      <div class="club-content lib-text">
        <div class="club-text">
          {% placeholder "club_6_text" %}
        </div>

        <div class="club-links">
          <div class="link-box link-box-light pull-right">
            {% placeholder "club_6_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="clearfix"></div>

<div class="row-fluid row-no-padding">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-4">
      <div class="club-separator club-dark"></div>
      <img class="img-responsive club-dark" src='/static/images/main-ioga.png' />
      <div class="club-header club-header-dark">
        <span>{% placeholder "club_7_title" %}</span>
      </div>

      <div class="club-content club-dark pull-right">
        <div class="club-text">
          {% placeholder "club_7_text" %}
        </div>

        <div class="club-links">
          <div class="link-box pull-right">
            {% placeholder "club_7_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-4">
      <div class="club-separator"></div>
      <img class="img-responsive" src='/static/images/main-children.png' />
      <div class="club-header club-header-light">
        <span>{% placeholder "club_8_title" %}</span>
      </div>
      <div class="club-content lib-text">
        <div class="club-text">
          {% placeholder "club_8_text" %}
        </div>

        <div class="club-links">
          <div class="link-box link-box-light pull-right">
            {% placeholder "club_8_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>


<div class="row-fluid row-no-padding">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-5">
      <div class="club-separator club-dark"></div>
      <img class="img-responsive club-dark" src='/static/images/main-body.png' />
      <div class="club-header body-header club-header-dark">
        <span>{% placeholder "club_9_title" %}</span>
      </div>

      <div class="club-content club-dark pull-right">
        <div class="club-text">
          {% placeholder "club_9_text" %}
        </div>

        <div class="club-links">
          <div class="link-box pull-right">
            {% placeholder "club_9_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-5">
      <div class="club-separator"></div>
      <img class="img-responsive" src='/static/images/main-samba.png' />
      <div class="club-header">
        <span>{% placeholder "club_10_title" %}</span>
      </div>
      <div class="club-content lib-text">
        <div class="club-text">
          {% placeholder "club_10_text" %}
        </div>

        <div class="club-links">
          <div class="link-box link-box-light pull-right">
            {% placeholder "club_10_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row-fluid row-no-padding">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="club club-line-6">
      <div class="club-separator club-dark"></div>
      <img class="img-responsive club-dark" src='/static/images/main-graphic.png' />
      <div class="club-header club-header-dark">
        <span>{% placeholder "club_11_title" %}</span>
      </div>

      <div class="club-content club-dark pull-right">
        <div class="club-text">
          {% placeholder "club_11_text" %}
        </div>

        <div class="club-links">
          <div class="link-box pull-right">
            {% placeholder "club_11_link" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6">
  </div>
</div>

{% endblock content %}
