{% extends 'base.html' %}
{% load i18n event_image %}

{% block og_title %}{{ event.title }}{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_description %}{{ event.description }}{% endblock %}
{% block og_image %}http://dkrosa.org{{ event.id|event_image }}{% endblock %}


{% block content %}
<div id="show-event">
  <div class="club">

    <img class="img-responsive club-soft-dark" src='{{ event.id|event_image }}' />
    <div class="club-header club-header-soft-dark">
      <p>{{ event.title }}
      </p>
    </div>


    <div class="club-content club-soft-dark">
      <div class="club-text">
        {% for c in event.cancellations.all %}
        {% if c.date == date.date %}
        <b>{% trans 'EVENT CANCELLED' %}</b> <br />
        {% endif %}
        {% endfor %}

        {{ event.description }}
      </div>

    <div class="club-date">
      {% trans 'Event starts at: '%} {{ date|date:"d M Y H:i" }}

      <div class="club-soc pull-right">
        <script type="text/javascript">(function() {
           if (window.pluso)if (typeof window.pluso.start == "function") return;
           if (window.ifpluso==undefined) { window.ifpluso = 1;
                                           var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                                           s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                                           s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                                           var h=d[g]('body')[0];
                                           h.appendChild(s);
                                           }})();</script>
        <div class="pluso" data-background="transparent" data-options="middle,square,line,horizontal,nocounter,theme=02" data-services="vkontakte,facebook,twitter" data-url="http://dkrosa.org/ru/show-event/{{ date|date:"d.m.Y H:i" }}/{{ event.id }}" data-title="{{ event.title }}" data-description="{{ event.description }}"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
